%display-4 {
  font-size: 11.2rem;
  font-weight: 300;
  line-height: 12.8rem;
  letter-spacing: -.01rem;
  margin: (1.28rem * 2) 0 (1.28rem * 1.5);
}

%display-3 {
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 8.4rem;
  letter-spacing: -.005rem;
  margin: (.84rem * 2) 0 (.84rem * 1.5);
}

%display-2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4.8rem;
  margin: (.48rem * 2) 0 (.48rem * 1.5);
}

%display-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4.0rem;
  margin: (.40rem * 2) 0 (.40rem * 1.5);
}

%headline {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin: (.32rem * 2) 0 (.32rem * 1.5);
}

%title {
  font-size: 2.0rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: .005rem;
  margin: (.28rem * 2) 0 (.28rem * 1.5);
}

%subheading {
  @include media-max($bp-large) {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: (.24rem * 2) 0 (.24rem * 1.5);
  }

  @include media-min($bp-large) {
    font-size: 1.5rem;
    line-height: 2.8rem;
    margin: (.28rem * 2) 0 (.28rem * 1.5);
  }

  font-weight: 400;
  letter-spacing: .01rem;
}

%body-2 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .01rem;
  line-height: 2.4rem;
  font-weight: bold;
}

%body-1 {
  font-size: 1.4rem;
  line-height: 2.0rem;
  font-weight: 400;
  letter-spacing: .01rem;
}

%caption {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .02rem;
  line-height: 2.0rem;
  margin: (.20rem * 2) 0 (.20rem * 1.5);
}

%button {
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: .01rem;
  line-height: 2.0rem;
  margin: (.20rem * 2) 0 (.20rem * 1.5);
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: darken($accent-color, 10%);
  }
}

dl {
  margin-top: 0;
  margin-bottom: 2.0rem;
}
dt,
dd {
  @extend %body-1;
}
dt {
  font-weight: 500;
}
dd {
  margin-left: 0;
  margin-bottom: (.20rem * 1.5); // 20px
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
figure {
  color: $primary-text-color;
  padding: 0;
}

p {
  margin: 0 0 (.20rem * 1.5);
}

ol, ul {
  margin-bottom: 2.0rem;

  ol,
  ul {
    margin-bottom: 0;
  }
}

p, li, td {
  @extend %body-1;

  strong {
    @extend %body-2;
  }
}

small {
  @extend %caption;
}

strong {
  font-weight: 500;
}

.x-large {
  @extend %display-2;
}

.xx-large {
  @extend %display-3;
}

.xxx-large {
  @extend %display-4;
}

h1, .h1, .large {
  @extend %display-1;
}

h2, .h2 {
  @extend %headline;
}

h3, .h3, th {
  @extend %subheading;
}

h4, .h4,
h5, .h5 {
  @extend %body-2;
}

h6, .h6 {
  @extend %body-1;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.x-large, .xx-large, .xxx-large {
  small,
  .small {
    font-size: 50%;
    text-transform: uppercase;
  }
}

input[type="submit"],
button,
.button {
  @extend %button;
}
