{{ partial "head" . }}
<main role="main" class="main">
  <h1 class="x-large">{{ .Title | singularize }} Posts</h1>
    {{ range .Data.Pages }}
      <div class="card">
      	<h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
        <small>Posted {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }}</small>
        <small>Reading Time: {{.ReadingTime}}min</small>ate.Format "Jan 2, 2006" }} by {{ .Params.author }}</small>
      	<p>{{ printf "%s" .Summary | markdownify }}</p>
      </div>
    {{ end }}
</main>
{{ partial "footer" . }}
