{{ partial "head" . }}

<main role="main" class="main">
  <h1 class="x-large">{{ .Title }}</h1>
  <small>Posted {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }}</small>
  <small>Reading Time: {{.ReadingTime}}min</small>
  {{ .Content }}

  <div class="cta">
    <h2>Like what you just read?</h2>
    <p>Follow us on <a href="http://www.twitter.com/{{ .Site.Params.twitterName }}" target="_blank">Twitter.</p>
    <p>Sign up for our <a href="http://ikick.us7.list-manage.com/subscribe?u=8523d9263f5cc37057e16ab42&id=a0784e376f" target="_blank">newsletter</a>.</p>
  </div>
  
  {{ partial "disqus" . }}
  {{ partial "authors" . }}
</main>

{{ partial "footer" . }}
