{{ partial "head" . }}

<main role="main" class="main">
  <div class="card">
    <h1 class="x-large">{{ .Title }}</h1>
    <small>Posted {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }}</small>
    <small>Reading Time: {{.ReadingTime}}min</small>
    {{ .Content }}
  </div>

  <div class="cta">
    <h2>Like what you just read?</h2>
    <p>Follow us on Twitter.</p>
    <p>Sign up for our weekly newsletter.</p>
    {{ partial "email_signup" . }}
  </div>

  {{ partial "disqus" . }}


</main>

{{ partial "footer" . }}
