{{ if eq .Params.authors "Joshua Briley" }}
  <div class="author">
    <div class="author__image">
      <a href="/authors/joshua-briley">
        <img
          data-src='https://res.cloudinary.com/dwjulenau/image/upload/c_fill,dpr_auto,q_auto,w_auto/v1479140478/josh-headshot.jpg'
          alt="An image of sorts"
          class="cld-responsive responsive-img"
        >
      </a>
      <p>
        <a href="http://www.github.com/somecallmejosh" class="icon github">{{ partial "svgs/github" . }}</a>
        <a href="http://www.twitter.com/joshuabriley" class="icon twitter">{{ partial "svgs/twitter" . }}</a>
      </p>
    </div>
    <div class="author__content">
      <p>Josh is a Senior Front End Developer for <a href="https://www.americastestkitchen.com/" target="_blank">America's Test Kitchen</a> in Brookline, MA. He focuses on front end architecture, performance and UI development. His tools of choice are HTML, Sass, and Javascript (when needed).</p>
      <p>View <a href="/authors/joshua-briley">more posts by Josh</a></p>
    </div>
  </div>
{{ end }}

{{ if eq .Params.authors "Michael Peritore" }}
<div class="author">
  <div class="author__image">
    <a href="/authors/michael-peritore">
      <img
        data-src='https://res.cloudinary.com/dwjulenau/image/upload/c_fill,dpr_auto,q_auto,w_auto/v1479140477/mike-headshot.jpg'
        alt="An image of sorts"
        class="cld-responsive responsive-img"
      >
    </a>
    <p>
      <a href="http://www.github.com/primalcodes" class="icon github">{{ partial "svgs/github" . }}</a>
      <a href="http://twitter.com/MikePeritore" class="icon twitter">{{ partial "svgs/twitter" . }}</a>
    </p>
  </div>
  <div class="author__content">
    <p>Mike is the Lead Software Engineer for <a href="https://www.americastestkitchen.com/" target="_blank">America's Test Kitchen</a> in Brookline, MA. He is an experienced Rails developer and enjoys architecting crazy simple backend solutions that wow the heck out of people.</p>
    <p>View <a href="/authors/michael-peritore">more posts by Mike</a></p>
  </div>
</div>
{{ end }}
