<footer>
  <div class="footer__meta">
    <aside>
  		<h3>Authors</h3>
  		<nav>
  			{{ range $key, $value := .Site.Taxonomies.authors }}
  				<a href="/authors/{{ $key}}">{{ $key | title }}</a>
  			{{ end }}
  		</nav>
  	</aside>

    <aside>
  		<h3>Categories</h3>
  		<nav>
  			{{ range $key, $value := .Site.Taxonomies.categories }}
  				<a href="/categories/{{ $key}}">{{ $key | title }}</a>
  			{{ end }}
  		</nav>
  	</aside>

  	<aside>
  		<h3>Tags</h3>
  		<nav>
  			{{ range $key, $value := .Site.Taxonomies.tags }}
          <!--  This is a temporary fix -->
  				<a href="/tags/{{ $key}}">{{ $key | title }}</a>
  			{{ end }}
  		</nav>
  	</aside>
  </div>

  <p class="copyright">© {{ .Site.Params.author}}. {{ $.Now.Format "2006" }}. All rights reserved.</p>
</footer>
</div>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script src="{{ .Site.BaseURL }}js/main.min.js"></script>
<script id="dsq-count-scr" src="//majestic-monolith.disqus.com/count.js" async></script>
{{ template "_internal/google_analytics_async.html" . }}
</body>
</html>
