<footer>
  <div class="footer__meta">
    <aside>
  		<h3>Categories</h3>
  		<ul>
  			{{ range $key, $value := .Site.Taxonomies.categories }}
  				<li><a href="/categories/{{ $key}}">{{ $key | title }}</a></li>
  			{{ end }}
  		</ul>
  	</aside>

  	<aside>
  		<h3>Tags</h3>
  		<ul>
  			{{ range $key, $value := .Site.Taxonomies.tags }}
          <!--  This is a temporary fix -->
  				<li><a href="/tags/{{ $key}}">{{ $key | title }}</a></li>
  			{{ end }}
  		</ul>
  	</aside>
  </div>

  <p>© {{ .Site.Params.author}}. {{ $.Now.Format "2006" }}. All rights reserved.</p>
</footer>
</div>
<script src="{{ .Site.BaseURL }}/js/main.min.js"></script>
<script id="dsq-count-scr" src="//majestic-monolith.disqus.com/count.js" async></script>
{{ template "_internal/google_analytics_async.html" . }}
</body>
</html>
