{{ partial "head" . }}
<main role="main" class="main">
	{{ partial "site_nav" . }}
	{{ range where .Site.Pages "Section" "post" }}
		<div class="card">
			<h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</a></h2>
			<small>Category: {{ delimit .Params.categories ", " }}</small>
			<small>Posted {{ .Date.Format "Jan 2, 2006" }} by {{ .Params.author }}</small>
			<small>Reading Time: {{.ReadingTime}}min</small>
			<p>{{ printf "%s" .Summary | markdownify }}</p>
		</div>
	{{ end }}
</main>
{{ partial "footer" . }}
