@import 'base/base';
@import 'utilities/mixins';

main,
footer,
.author,
.cta {
  padding: 20px;
}

header,
footer {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  align-items: center;
  display: flex;
  overflow: auto;
  padding: 0 20px;
  h1 {
    font-size: 120%;
  }
  nav {
    margin-left: auto;
  }
}

h1 {
  a:link,
  a:visited {
    color: black;
    text-decoration: none;
  }
}

.author,
.cta {
  background-color: #f4f4f4;
  margin-bottom: 20px;
}


.author,
.cta,
footer nav a {
  border: darken(#f4f4f4, 5%) 1px solid;
  border-radius: 3px;
}


.comments {
  margin-bottom: 30px;
}

.copyright {
  text-align: center;
}

footer  {
  nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  a {
    align-items: center;
    background-color: lighten(#f4f4f4, 1%);
    display: flex;
    flex: 1 0 calc(50% - 5px);
    justify-content: center;
    height: 40px;
    margin: 0 0 5px;
    max-width: calc(50% - 2px);
    padding: 0;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #fff;
    }
  }
}

small {
  font-size: 75%;
  opacity: .5;

  + small {
    display: block;
  }
}

.article-view,
.list-view,
.page-view {
  max-width: 768px;
  margin: 0 auto;
}

main,
.footer__meta {
  max-width: 1200px;
  margin: 0 auto;
}

.responsive-img {
  display: block;
  height: auto;
  width: 100%;
}

@include media-min(700px) {
  .cards {
    column-count: 2;
  }
}

@include media-min(1000px) {
  .cards {
    column-count: 3;
  }
}

@include media-min(1200px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  background-color: #fff;
  border: #f4f4f4 1px solid;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;

  &__image {
    overflow: hidden;
  }

  &__content {
    overflow: auto;
    padding: 20px;
  }
}

.list {
  align-items: center;
  border: #f4f4f4 1px solid;
  display: flex;
  margin-bottom: 20px;

  &__image {
    flex: 1 0 150px;
    max-width: 150px;
  }

  &__content {
    float: auto;
    padding: 0 20px;
  }
}

.on-site {
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
