@import 'base/base';

header,
main,
footer,
.author,
.cta {
  padding: 20px;
}

header,
footer {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  h1 {
    font-size: 120%;
  }
}

h1 {
  a:link,
  a:visited {
    color: black;
    text-decoration: none;
  }
}

.author,
.cta {
  background-color: #f4f4f4;
  margin-bottom: 20px;
}


.author,
.cta,
footer nav a {
  border: darken(#f4f4f4, 5%) 1px solid;
  border-radius: 3px;
}

.card {
  border-bottom: darken(#f4f4f4, 5%) 1px solid;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

footer  {
  nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  a {
    align-items: center;
    background-color: lighten(#f4f4f4, 1%);
    display: flex;
    flex: 1 0 calc(50% - 5px);
    justify-content: center;
    height: 40px;
    margin: 0 0 5px;
    max-width: calc(50% - 2px);
    padding: 0;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #fff;
    }
  }
}
