@import 'base/base';
@import 'utilities/mixins';

main {
  padding: 20px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  background-color: darken(#f4f4f4, 80%);
  color: #fff;
  display: inline-block;
  font-size: 80%;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: darken(#f4f4f4, 75%);
    text-decoration: none;
  }
}

header {
  align-items: center;
  background-color: darken(#f4f4f4, 80%);
  box-shadow: 0 0 10px #000;
  display: flex;
  height: 50px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  a:link,
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  h1 {
    font-size: 100%;
    font-weight: normal;
  }

  nav {
    margin-left: auto;
    font-size: 75%;
  }
}

.hero {
  background-color: #ccc;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  @include media-min(700px) {
    padding-bottom: 41.66666667%
  }
}

.cta {
  background-color: darken(#f4f4f4, 60%);
  color: #fff;
  overflow: auto;
  padding: 20px;

  a {
    color: inherit;
    text-decoration: underline;
  }

  h2, h3 {
    font-size: 110%;
  }

  p, li {
    font-size: 80%;
  }
}


.comments {
  margin-bottom: 30px;
}

.copyright {
  text-align: center;
}

footer  {
  background-color: darken(#f4f4f4, 75%);
  color: #fff;
  padding: 20px 10px;

  h3 {
    margin-left: 10px;
    font-size: 110%;
  }

  nav {
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 40px;
    }
  }

  a {
    border-bottom: darken(#f4f4f4, 70%) 1px solid;
    color: #fff;
    display: block;
    font-size: 80%;
    line-height: 45px;
    padding: 0 10px;
    transition: all .2s ease-in-out;

    &:hover {
      color: darken(#fff, 20%);
      text-decoration: none;
    }
  }

  p {
    font-size: 75%;
  }
}

small {
  font-size: 75%;
  opacity: .5;

  + small {
    display: block;
  }
}

.article-view,
.list-view,
.page-view {
  max-width: 768px;
  margin: 0 auto;
}

main,
.footer__meta {
  max-width: 1200px;
  margin: 0 auto;
}

.responsive-img {
  display: block;
  height: auto;
  width: 100%;
}

@include media-min(700px) {
  .cards {
    column-count: 2;
  }
}

@include media-min(1000px) {
  .cards {
    column-count: 3;
  }
}

@include media-min(1200px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  background-color: #fff;
  border: #f4f4f4 1px solid;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;

  h2 a {
    color: darken(#f4f4f4, 80%);

    &:hover {
      color: darken(#f4f4f4, 70%);
    }
  }

  &__image {
    overflow: hidden;
  }

  &__content {
    overflow: auto;
    padding: 20px;
  }

  .button {
    margin: 10px 0;
  }
}

.list {
  align-items: center;
  border: #f4f4f4 1px solid;
  display: flex;
  margin-bottom: 20px;

  &__image {
    flex: 1 0 150px;
    max-width: 150px;
  }

  &__content {
    float: auto;
    padding: 0 20px;
  }
}

.on-site {
  height: 100vh;
  overflow-y: scroll;
  padding-top: 50px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
