.cta {
  background-color: $gray-50;
  border-top: $gray-100 1px solid;
  color: $primary-text-color;
  overflow: auto;

  a {
    color: $accent-color;
    text-decoration: underline;

    &:hover {
      color: $primary-text-color;
      text-decoration: none;
    }
  }

  h2, h3 {
    font-size: 110%;
  }

  p, li, small, blockquote {
    font-size: 90%;
    color: $primary-text-color;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    border-bottom: $gray-300 1px solid;
    padding: 8px 5px;

    a {
      display: block;
      text-decoration: none;
    }
  }

  &__wrap {
    padding: 20px;
  }

  @include media-min(800px) {
    &__wrap {
      display: flex;
    }

    &__content {
      flex: 1;

      ul {
        max-width: 80%;
      }
    }
  }
}
